.profile {
  background-color: var(--bg);
  color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25vh 15vh 1fr;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-row: 1;
  width: 100%;
  height: 100%;
}
.user_dp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(135deg, #923993, #50d8d7);
  height: 7.125rem;
  width: 7.125rem;
}
.user_dp_img {
  border-radius: 50%;
}
.user_info h1 {
  font-weight: 800;
  font-size: 2.25rem;
}
.amigos {
  background-color: var(--light-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}
.amigos .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.amigos .section h1 {
  font-weight: 800;
  font-size: 1.75rem;
}
.amigos .section p,
.user_info p {
  font-weight: 300;
  font-size: 1.125rem;
}
